<main role="main">
  <div class="sidebar">
    <div class="sidebar-inner-index">
      <ul class="main-menu">
        <%- partial('partials/main_menu', { context: 'sidebar' }) %>
      </ul>
    </div>
  </div>

  <div id="hero">
    <div class="inner">
      <div class="left">
        <img class="hero-logo" src="<%- url_for("/images/logo.png") %>" alt="mypUI logo">
      </div><div class="right">
        <h2 class="vue">mypUI</h2>
        <h1>
          基于uniapp<br>开发原生APP/MP/H5的组件集
        </h1>
        <p>
          <a class="button" href="<%- url_for("/doc/guide/why.html") %>">WHY MYPUI?</a>
          <a class="button white" href="<%- url_for("/doc/guide/") %>">快速上手</a>
          <a class="button gray has-icon" href="https://github.com/wakaryry/mypUI" target="_blank" rel="noopener">
            <%- partial('icons/github-dark') %>
            GITHUB</a>
        </p>
      </div>
    </div>
  </div>
  
  <div id="special">
    <h3>特别赞助</h3>
    <%_ for (const sponsor of theme.special_sponsors) { _%>
    <a href="<%- sponsor.url %>" target="_blank" rel="noopener sponsored">
      <img src="<%- url_for(`/images/${sponsor.img}`) %>" style="width:200px">
    </a>
    <%_ } _%>
    <%_if (theme.special_sponsors.length < 2) { _%>
    <br>
    <a class="become-backer" href="/support-mypui">
      成为特别赞助商
    </a>
    <%_} _%>
  </div>
  
  <div id="highlights">
    <div class="inner">
      <div class="point">
        <h2>规范</h2>
        <p>主题/单位可配置，接口/字段命名统一，熟悉一个就是掌握所有！</p>
      </div>

      <div class="point">
        <h2>灵活</h2>
        <p>大量开放的props，可以在快速开发与灵活运用之间自由畅想。</p>
      </div>

      <div class="point">
        <h2>高效</h2>
        <p>
          针对各端优化<br>
          统一的命名规范 <br>
          越用越快，越用越好
        </p>
      </div>
    </div>
  </div>
  
  <div id="sponsors">
      <div class="inner">
        <a class="become-sponsor button white" href="<%- url_for("/support-mypui/") %>">成为赞助者！</a>
      </div>
  </div>
  
</main>

<footer id="footer" role="contentinfo">
  <p>
    <a class="social-icon" href="https://github.com/wakaryry/mypUI" target="_blank" rel="noopener">
      <%- partial('icons/github') %>
    </a>
  </p>
  <p>遵循 <a href="https://opensource.org/licenses/MIT" target="_blank" rel="noopener">MIT 开源协议</a><br>本文档页面完全来自于<a href="https://github.com/vuejs/cn.vuejs.org" target="_blank" rel="noopener">Vue.js中文文档</a><br>
  Copyright &copy; 2019-<%- new Date().getFullYear() %> Yuping Ma</p>
</footer>

<div id="video-modal" class="modal">
  <div class="video-space" style="padding: 56.25% 0 0 0; position: relative;"></div>
</div>

<script>
(function () {
  var topScrolled = false
  var sponsors = document.getElementById('sponsors')
  var sponsorTop = sponsors.offsetTop
  var sponsorActive = false

  window.addEventListener('resize', function () {
    sponsorTop = sponsors.offsetTop
  })

  window.addEventListener('scroll', function () {
    if (window.pageYOffset > 165 && !topScrolled) {
      topScrolled = true
      document.getElementById('mobile-bar').classList.remove('top')
    } else if (window.pageYOffset <= 165 && topScrolled) {
      topScrolled = false
      document.getElementById('mobile-bar').classList.add('top')
    }
    if (window.pageYOffset > sponsorTop - 100) {
      if (!sponsorActive) {
        sponsorActive = true
        sponsors.classList.add('active')
      }
    } else {
      if (sponsorActive) {
        sponsorActive = false
        sponsors.classList.remove('active')
      }
    }
  })
})()
</script>
