<% if (page.type) { %>
  <%- partial('partials/sidebar', { type: page.type === 'menu' ? 'guide' : page.type, index: page.index }) %>
<% } else { %>
  <div class="sidebar">
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
  </div>
<% } %>
<div class="content <%- page.page ? ' with-simulator' : '' %> <%- page.type ? page.type + ' with-sidebar' : '' %> <%- page.type === 'guide' ? page.path.replace(/.+\//, '').replace('.html', '') + '-guide' : '' %>">
  <% if (page.type) { %>
    <% if (page.type === 'menu') { %>
      <form id="search-form">
        <input type="text" id="search-query-menu" aria-label="搜索 mypUI 站点" class="search-query st-default-search-input">
      </form>
      <%- partial('partials/toc', { type: 'guide' }) %>
    <% } %>
  <% } %>
  <% if (page.title.trim()) { %>
    <h1><%- page.title %><%- page.type === 'examples' ? ' Example' : '' %></h1>
  <% } %>

  <% if (page.sponsors) { %>
    <%- partial('sponsors-page') %>
  <% } else if (page.search) { %>
    <%- partial('search-page') %>
  <% } else { %>
    <%- page.content %>
  <% } %>
  <% if (page.type === 'guide' || page.type === 'api') { %>
    <div class="donate-box">
	  <p>mypUI 是采用 MIT 许可的开源项目，使用完全免费。您觉得不错，或者对您有所帮助，甚至是鼓励作者的付出，可以给他买杯咖啡:</p>
      <div style="margin-top:1em;">
        <img src="<%- url_for("/images/pay_wx_68.png") %>" style="width:300px;height:400px;">,
		<img src="<%- url_for("/images/pay_ali_68.png") %>" style="width:300px;height:400px;">
      </div>
	  <p style="margin-top:1em;">更多赞助方式：<a href="<%- url_for("/support-mypui/") %>">支持mypUI</a></p>
    </div>
  <% } %>
  <% if (page.type === 'guide') { %>
    <div class="guide-links">
      <% const lastPage = site.pages.find({ type: page.type, order: { $lt: page.order }}).sort({ order: -1 }).first(); %>
      <% if (lastPage) { %>
        <span>← <a href="<%- url_for(lastPage.path) %>"><%- lastPage.title %></a></span>
      <% } %>
      <% const nextPage = site.pages.find({ type: page.type, order: { $gt: page.order }}).sort({ order: 1 }).first(); %>
      <% if (nextPage) { %>
        <span style="float: right;"><a href="<%- url_for(nextPage.path) %>"><%- nextPage.title %></a> →</span>
      <% } %>
    </div>
  <% } %>
  <div class="footer">
    <%_ if (!page.sponsors) { _%>
      <%- partial('partials/ad-text') %>
    <%_ } _%>
    发现错误？想参与编辑？
    <a href="https://github.com/wakaryry/mypui-doc/blob/master/src/<%- page.path.replace(/\.html$/, '.md') %>" rel="noopener" target="_blank">
      在 GitHub 上编辑此页！
    </a>
  </div>
  <% if (page.page) { %>
  <div class="simulator">
    <iframe src="<%- page.page %>" style="width: 360px; height:640px;"></iframe>
  </div>
  <% } %>
</div>
